doctype html
// saved from url=(0043)http://alethemes.com/html/equipo/index.html
html.js.no-flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title Equipo HTML Template
    meta(name='description', content='HTML framework description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Styles
    link(rel='stylesheet', href='./Equipo HTML Template_files/general.css')
    // Google fonts
    link(href='./Equipo HTML Template_files/css', rel='stylesheet', type='text/css')
    // Font awesome
    link(rel='stylesheet', href='./Equipo HTML Template_files/font-awesome.css')
    // Modernizr
    script(type='text/javascript', src='./Equipo HTML Template_files/modernizr-2.5.3.min.js')
    // Semantic HTML5 Support on old IE
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    // Header Section. If need a menu section, use tag: <nav>
    .slider
      .flexslider
        ul.slides
          li.flex-active-slide(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;')
            img(src='./Equipo HTML Template_files/slider.jpg', alt='', draggable='false')
            .caption
              .container
                h1
                  span Neymar wary of Messi
                  | at the World Cup
                a.btn.btn-bordered(href='http://alethemes.com/html/equipo/blog-single.html') read more
          li(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
            img(src='./Equipo HTML Template_files/slider2.jpg', alt='', draggable='false')
            .caption
              .container
                h1
                  span Neymar wary of Messi
                  | at the World Cup
                a.btn.btn-bordered(href='http://alethemes.com/html/equipo/blog-single.html') read more
          li(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
            img(src='./Equipo HTML Template_files/slider3.jpg', alt='', draggable='false')
            .caption
              .container
                h1
                  span Neymar wary of Messi
                  | at the World Cup
                a.btn.btn-bordered(href='http://alethemes.com/html/equipo/blog-single.html') read more
        ol.flex-control-nav.flex-control-paging
          li
            a.flex-active 1
          li
            a 2
          li
            a 3
        ul.flex-direction-nav
          li
            a.flex-prev(href='http://alethemes.com/html/equipo/index.html#') Previous
          li
            a.flex-next(href='http://alethemes.com/html/equipo/index.html#') Next
    header
      .top
        .container
          .col-12
            .col-2
              .logo
                img(src='./Equipo HTML Template_files/logo.png', alt='')
            nav#top-menu
              ul.clearfix
                li.active
                  a(href='./Equipo HTML Template_files/Equipo HTML Template.html') Home
                li
                  a(href='http://alethemes.com/html/equipo/team.html') Team
                li
                  a(href='http://alethemes.com/html/equipo/video.html') video
                li.dropdown
                  a(href='http://alethemes.com/html/equipo/blog.html') blog
                  ul.dropdown-menu
                    li
                      a(href='http://alethemes.com/html/equipo/blog-single.html') Single post
                    li
                      a(href='http://alethemes.com/html/equipo/index.html#') Drop down 2
                    li
                      a(href='http://alethemes.com/html/equipo/index.html#') Drop down 3
                    li
                      a(href='http://alethemes.com/html/equipo/index.html#') Drop down 4
                li
                  a(href='http://alethemes.com/html/equipo/club.html') club
                li
                  a(href='http://alethemes.com/html/equipo/gallery.html') gallery
                li
                  a(href='http://alethemes.com/html/equipo/contact.html') contacts
              a#pull(href='http://alethemes.com/html/equipo/index.html#') Menu
            nav.mobilemenu
              select
                option(value='index.html') Home
                option(value='team.html') Team
                option(value='video.html') Video
                option(value='blog.html') Blog
                option(value='club.html') Club
                option(value='gallery.html') Gallery
                option(value='contact.html') Contact
            .login
              a(href='http://alethemes.com/html/equipo/index.html#')
                span#icon-user
                  i.fa.fa-user
                  | log in
              a(href='http://alethemes.com/html/equipo/index.html#')
                span register
    // Content Section. If need sidebars use the tag: <aside>. If articles use tag: <article>
    section#m-a-n
      .container
        .col-8
          .tab matches
          .match
            .col-6
              .m-img
                img(src='./Equipo HTML Template_files/bayern.jpg', alt='')
            .col-6
              .m-img
                img(src='./Equipo HTML Template_files/arsenal.jpg', alt='')
            .m-result
              .logo-club.col-3
                img(src='./Equipo HTML Template_files/logo-bayern.png', alt='')
              span.result.col-6
                | 0 
                b :
                |  3
              .logo-club.col-3
                img(src='./Equipo HTML Template_files/logo-arsenal.png', alt='')
              .club-name.col-12
                span.col-3 Bayern
                .match-name.col-6
                  | Champions League 
                  br
                  |  Semi-final 
                  br
                  b 25 May 23:00
                span.col-3 Arsenal
          .a-games
            ul.clearfix
              li
                span.text-right FC Bayern München
                span.d-g 14 Apr 21:45
                span.text-left Borussia M'gladbach
              li
                span.text-right Eintracht Frankfurt
                span.d-g 14 Apr 21:45
                span.text-left FC Bayern München
              li
                span.text-right FC Bayern München
                span.d-g 14 Apr 21:45
                span.text-left Hoffenheim
              li
                span.text-right FC Bayern München
                span.d-g 14 Apr 21:45
                span.text-left VfB Stuttgart
        .col-4
          .tab news
          .tab-small
            a(href='http://alethemes.com/html/equipo/index.html#') see all news
          .r-box-n
            article
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html') Rangers review presents stark picture
              p
                | Praesent risus nisi, iaculis nec condimentum vel, rhoncus vel dolor. Aenean nisi lectus, varius nec tempus
              span.date-n 21 Mar
            article
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html') Rangers review presents stark picture
              p
                | Praesent risus nisi, iaculis nec condimentum vel, rhoncus vel dolor. Aenean nisi lectus, varius nec tempus
              span.date-n 21 Mar
            article
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html') Rangers review presents stark picture
              p
                | Praesent risus nisi, iaculis nec condimentum vel, rhoncus vel dolor. Aenean nisi lectus, varius nec tempus
              span.date-n 21 Mar
    // section for teaser
    section
      .container
        #teaser
          h2
            | There are many variations of passages
            span of Lorem Ipsum available
          p
            | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
          a.btn.btn-red(href='http://alethemes.com/html/equipo/club.html') read more
    section#video
      .container
        #v-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
          ul.clearfix.col-4.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
            li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='section-1', aria-labelledby='ui-id-1', aria-selected='true')
              i.fa.fa-play
              a#ui-id-1.ui-tabs-anchor(href='http://alethemes.com/html/equipo/index.html#section-1', role='presentation', tabindex='-1')
                | The title hunt in Europe's top leagues
                span 14:59  |  Press conference
            li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='section-2', aria-labelledby='ui-id-2', aria-selected='false')
              i.fa.fa-play
              a#ui-id-2.ui-tabs-anchor(href='http://alethemes.com/html/equipo/index.html#section-2', role='presentation', tabindex='-1')
                | West Brom took a significant step towards survival by beating ...
                span 14:59  |  Press conference
            li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='section-3', aria-labelledby='ui-id-3', aria-selected='false')
              i.fa.fa-play
              a#ui-id-3.ui-tabs-anchor(href='http://alethemes.com/html/equipo/index.html#section-3', role='presentation', tabindex='-1')
                | The title hunt in Europe's top leagues
                span 14:59  |  Press conference
            li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='section-4', aria-labelledby='ui-id-4', aria-selected='false')
              i.fa.fa-play
              a#ui-id-4.ui-tabs-anchor(href='http://alethemes.com/html/equipo/index.html#section-4', role='presentation', tabindex='-1')
                | The title hunt in Europe's top leagues
                span 14:59  |  Press conference
          #section-1.tab-content.col-8.ui-tabs-panel.ui-widget-content.ui-corner-bottom(aria-labelledby='ui-id-1', role='tabpanel', aria-expanded='true', aria-hidden='false')
            iframe(width='560', height='329', style='border:0;', src='./Equipo HTML Template_files/HHnsO_TnXPs.html', allowfullscreen='')
          #section-2.tab-content.col-8.ui-tabs-panel.ui-widget-content.ui-corner-bottom(aria-labelledby='ui-id-2', role='tabpanel', aria-expanded='false', aria-hidden='true', style='display: none;')
            iframe(width='560', height='329', style='border:0;', src='./Equipo HTML Template_files/l_9zB6xEOMI.html', allowfullscreen='')
          #section-3.tab-content.col-8.ui-tabs-panel.ui-widget-content.ui-corner-bottom(aria-labelledby='ui-id-3', role='tabpanel', aria-expanded='false', aria-hidden='true', style='display: none;')
            iframe(width='560', height='329', style='border:0;', src='./Equipo HTML Template_files/S4XXhMydY8o.html', allowfullscreen='')
          #section-4.tab-content.col-8.ui-tabs-panel.ui-widget-content.ui-corner-bottom(aria-labelledby='ui-id-4', role='tabpanel', aria-expanded='false', aria-hidden='true', style='display: none;')
            iframe(width='560', height='329', style='border:0;', src='./Equipo HTML Template_files/0o29f4-qh5U.html', allowfullscreen='')
        .players
          .col-4
            .our
              h3
                span our
                |  players
            .all-team
              a(href='http://alethemes.com/html/equipo/team.html') View all team ›
          .col-8
            .bx-wrapper(style='max-width: 628px; margin: 0px auto;')
              .bx-viewport(style='width: 100%; overflow: hidden; position: relative; height: 273px;')
                .slider1(style='width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-628px, 0px, 0px);')
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player1.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jan Kirchhoff
                      p Defender
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player2.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jerome Boateng
                      p Defender
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player3.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Tom Starke
                      p Goalkeeper
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player4.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Philipp Lahm
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player1.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jan Kirchhoff
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player2.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jerome Boateng
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player3.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Tom Starke
                      p Goalkeeper
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player4.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Philipp Lahm
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player1.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jan Kirchhoff
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player2.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jerome Boateng
                      p Defender
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player3.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Tom Starke
                      p Goalkeeper
                  .slide.col-4(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player4.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Philipp Lahm
                      p Defender
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player1.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jan Kirchhoff
                      p Defender
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player2.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Jerome Boateng
                      p Defender
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player3.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Tom Starke
                      p Goalkeeper
                  .slide.col-4.bx-clone(style='float: left; list-style: none; position: relative; width: 157px;')
                    img(src='./Equipo HTML Template_files/player4.jpg', alt='')
                    .player-name
                      a(href='http://alethemes.com/html/equipo/team.html') Philipp Lahm
                      p Defender
              .bx-controls.bx-has-controls-direction
                .bx-controls-direction
                  a.bx-prev(href='') Prev
                  a.bx-next(href='') Next
    // twiter, blog, table
    section#ttb
      .container
        .col-4
          .twiter
            .tw-title
              h3 Latest twits
            ul.clearfix.t-post
              li
                | The generated Lorem Ipsum is therefore always free from repetition, injected humour
                a(href='http://alethemes.com/html/equipo/index.html#')
                  | @Equipo
                  span  1 day ago
              li
                | The generated Lorem Ipsum is therefore always free from repetition, injected humour
                a(href='http://alethemes.com/html/equipo/index.html#')
                  | @Equipo
                  span  1 day ago
              li
                | The generated Lorem Ipsum is therefore always free from repetition, injected humour
                a(href='http://alethemes.com/html/equipo/index.html#')
                  | @Equipo
                  span  1 day ago
        .col-4
          .blog-s
            .bl-title
              h3
                | Blog   
                a(href='http://alethemes.com/html/equipo/blog.html') \   Open blog ›
            .s-post
              .post-img
                img(src='./Equipo HTML Template_files/post1.jpg', alt='')
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html')
                  span Rangers review presents stark picture
            .s-post
              .post-img
                img(src='./Equipo HTML Template_files/post2.jpg', alt='')
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html')
                  span Police probe Rangers cash statements
            .s-post
              .post-img
                img(src='./Equipo HTML Template_files/post3.jpg', alt='')
              h3
                a(href='http://alethemes.com/html/equipo/blog-single.html')
                  span Check out the latest bundes liga news 
        .col-4
          .liga-t
            .bu-title
              h3 Bundes Liga
            table.table-striped
              tbody
                tr.t-h
                  td.t-c Pos
                  td Club
                  td Pld
                  td Pts
                tr
                  td.t-c 1
                  td FC Bayern München
                  td 36
                  td 81
                tr
                  td.t-c 2
                  td Borussia Dortmund
                  td 36
                  td 76
                tr
                  td.t-c 3
                  td FC Schalke 04
                  td 34
                  td 74
                tr
                  td.t-c 4
                  td Bayer 04 Leverkusen
                  td 35
                  td 70
                tr
                  td.t-c 5
                  td VfL Wolfsburg
                  td 36
                  td 69
                tr
                  td.t-c 6
                  td FSV Mainz
                  td 36
                  td 66
                tr
                  td.t-c 7
                  td Borussia M.
                  td 35
                  td 60
                tr
                  td.t-c 8
                  td FC Augsburg
                  td 35
                  td 52
                tr
                  td.t-c 9
                  td 1899 Hoffenheim
                  td 35
                  td 46
                tr
                  td.t-c 10
                  td Hertha Berlin
                  td 35
                  td 44
    section#partner
      .container
        .p-l
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/o2.png', alt='')
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/indesit.png', alt='')
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/o2.png', alt='')
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/indesit.png', alt='')
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/o2.png', alt='')
          .col-2
            a(href='http://alethemes.com/html/equipo/index.html#')
              img(src='./Equipo HTML Template_files/indesit.png', alt='')
    // Footer Section
    footer
      .container
        .col-2
          a(href='./Equipo HTML Template_files/Equipo HTML Template.html')
            img(src='./Equipo HTML Template_files/footer-logo.png', alt='')
        .col-6
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
          .col-4
            .social-icon
              ul#social
                li
                  a(href='http://alethemes.com/html/equipo/index.html#')
                    img(src='./Equipo HTML Template_files/soc-twitter.png', alt='')
                li
                  a(href='http://alethemes.com/html/equipo/index.html#')
                    img(src='./Equipo HTML Template_files/soc-facebook.png', alt='')
                li
                  a(href='http://alethemes.com/html/equipo/index.html#')
                    img(src='./Equipo HTML Template_files/soc-g.png', alt='')
                li
                  a(href='http://alethemes.com/html/equipo/index.html#')
                    img(src='./Equipo HTML Template_files/soc-play.png', alt='')
          .col-6
            p.copyright © 2014  - All Rights Reserved 
        .col-2
          h3 Information
          ul
            li
              a(href='http://alethemes.com/html/equipo/club.html') About club
            li
              a(href='http://alethemes.com/html/equipo/team.html') Our team
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Registration
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Features
            li
              a(href='http://alethemes.com/html/equipo/index.html#') 404 page
        .col-2
          h3 Support
          ul
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Terms of Service
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Security
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Privacy PolicyHomepage
            li
              a(href='http://alethemes.com/html/equipo/index.html#') Sitemap
            li
              a(href='http://alethemes.com/html/equipo/index.html#') FAQ
    // Libs
    script(src='./Equipo HTML Template_files/jquery-1.10.2.min.js')
    script(type='text/javascript', src='./Equipo HTML Template_files/jquery.flexslider-min.js')
    script(src='./Equipo HTML Template_files/jquery-ui.js')
    script(src='./Equipo HTML Template_files/jquery.bxslider.min.js')
    // Custom
    script(src='./Equipo HTML Template_files/scripts.js')
